body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}


.logo {
  width: 250px;
  border: 2px solid;
}


.container {
  background: white;
  padding: 30px;
  width: 420px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}


input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #0066cc;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#resultado {
  margin-top: 15px;
  font-weight: bold;
}
